.quizTopic-container{
    border: 1px solid gainsboro;
    background-color: rgba(128, 128, 128, 0.336);
}

.quizTopic-container img{
    height: 250px;
    width: 250px;
    padding: 20px;
    margin: 20px;
}
.quiz-start{
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.815);
    padding: 10px;
    border: 0;
    border-radius: 10px;
}
.quiz-start a{
    text-decoration: none;
}




@media screen and (max-width: 767px) {
    
    .quizTopic-container img{
        height: 150px;
        width: 150px;
        padding: 10px;
        margin: 20px;
    }
}







@media screen and (max-width: 1024px) and (min-width: 768px) {
    .topic-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .topic-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}