.topic-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 20px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .topic-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .topic-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
.title-text{
    background-color: gainsboro;
    margin: 20px;
    padding: 10px;
}

