.quiz-question-container{
    border: 1px solid gainsboro;
    margin: 20px;
}
.answer-container{
    border: 1px solid rgb(0, 217, 255);
    padding: 10px;
    margin: 15px 5px;
}
.answer-container:hover{
    background-color: rgba(0, 255, 255, 0.568);
    cursor: pointer;
}
.options-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.show-answer{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: 10px;
}
.eye:hover{
   color: skyblue;
}
